.App {
  font-family: sans-serif;
  text-align: center;
  float: left;
  width: 100%;
}

* {
  outline: none;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.pre-notification {
  left: 50%;
  text-align: center;
  color: white;
  padding-top: 20%;
  font-size: 30px;
}
